@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 2.5em;
    color: whitesmoke;
}

.boiteAPanneaux {
    display: flex;
    width: auto;
    height: 100vh;
}

.panneaux {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-content: space-between;
    transition: flex 0.7s cubic-bezier(.25,.1,.25,1), opacity 1s ease;
    opacity: 80%;
}

.panneaux:hover {
    flex: 4;
    opacity: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.p1 {
    background-image: url('images/img1.jpg');

}

.p2 {
    background-image: url('images/img2.jpg');

}

.p3 {
    background-image: url('images/img3.jpg');
    
}

.p4 {
    background-image: url('images/img4.jpg');
    
}

.p5 {
    background-image: url('images/img5.jpg');
    
}

.panneaux>p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panneaux:hover > .mothaut {
    transform: translateY(0%);
    opacity: 100%;
}

.mothaut {
    transform : translateY(-161%);
    opacity: 0%;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.panneaux:hover > .motbas {
    transform: translateY(0%);
    opacity: 100%;
   
}

.motbas {
    transform : translateY(100%);
    opacity: 0%;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}